#webcam-stream {
    flex: 1 1 auto;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 100%;
    height: 100%;
}

#webcam-recording {
    flex: 1 1 auto;
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 100%;
    height: 100%;
}

#canvas {
    display: none;
}

.microphone {
    display: flex;
    flex: 0 1 100%;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.microphone > .outline {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
}

.microphone.active > .outline {
    border: 8px solid #B5A4A4;
    animation: pulse 3s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

.microphone > .button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
}

.microphone.active > .button {
    background: #50CDDD;
    box-shadow: 0px 0px 80px #0084F9;
}

.microphone svg {
    width: 5rem;
    height: 5rem;
    fill: #000;
}

.microphone.active svg {
    fill: #1e2d70;
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
        border: 65px solid #0B3082;
    }

    50% {
        border: solid #A3FFC2;
        opacity: 0.8;
    }

    90% {
        transform: scale(3.2);
        opacity: 0.2;
        border: 3px solid #2E3CFF;
    }

    100% {
        transform: scale(3.3);
        opacity: 0;
        border: 1px solid #7A89FF;
    }
}

#delayed {
    animation-delay: 1.5s;
}

.microphone > #circlein {
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
    background: gray;
    position: absolute;
}

.microphone.active > #circlein {
    background: #50CDDD;
    box-shadow: 0px 0px 80px #0084F9;
}